.content {
    flex: 1;
    background-color: #fff;
    padding: 40px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table{
    background-color: #ffffffad;
}
.content h2 {
    color: #e74c3c;
    margin-top: 0;
}

.semester-box {
    margin-bottom: 20px;
}

.semester-box h3 {
    color: #2980b9;
    margin-top: 0;
}

.marks-grades table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.marks-grades th, .marks-grades td {
    border: 1px solid #3498db;
    padding: 10px;
    text-align: left;
}

.view-certificates {
    margin-top: 20px;
}

.view-certificates a {
    display: inline-block;
    padding: 6px 16px;
    background-color:#3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.view-certificates a:hover {
    background-color: #2980b9;
}